@charset 'utf-8';

/* Swiper */
.slide-media img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-wrapper {
  transition-property: opacity, transform !important;
}

.slide-media {
  height: 400px;
}

@media screen and (max-width: 1024px) {
  .slide-media {
    height: max(70vh, 70vw);
  }
}

/* Swiper */

/* card
-------------------- */

.cafe-name {
  font-family: "Caveat", cursive;
}

.card-title {
  font-family: "Caveat", cursive;
  font-family: "Satisfy", cursive;
	letter-spacing: 0.1em;
}

.scaled-coffee-image {
  width: 9em;
  height: 15em;
  object-fit: cover;
}

.card {
  height: 20em;
}

/* @media screen and (min-width: 576px) and (max-width: 992px){
	.img-adaptive-height{
		max-width: 140px;
		height: 13rem;
		object-fit: cover;
	}
} */

/* @media (max-width: 576px) {
	.coffee-img{
		display: flex;
		justify-content: center;
	}

	.img-adaptive-height{
		object-fit: cover;
	}
} */

/* test
-------------------------- */

/* .card-img, .img-adaptive-height{
	width: 200px;
	height: 300px;
	object-fit: cover;
} */
