@charset 'utf-8';

/* Swiper */
.slide-media img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-wrapper {
  transition-property: opacity, transform !important;
}

.slide-media {
  height: 400px;
}

@media screen and (max-width: 1024px) {
  .slide-media {
    height: max(70vh, 70vw);
  }
}

/* Swiper */

/* card
-------------------- */

.cafe-name {
  font-family: "Caveat", cursive;
}

.card-title {
  font-family: "Caveat", cursive;
  font-family: "Satisfy", cursive;
	letter-spacing: 0.1em;
}

.scaled-coffee-image {
  width: 10em;
  height: 15em;
  object-fit: cover;
}

.text-explanation{
	height: 11em;
	margin-top: 2em;
}


@media (max-width: 576px) {
	.scaled-coffee-image{
		width: 15em;
		height: 9em;
		object-fit: cover;
	}
	.coffee-img{
		text-align: center;
	}
	.text-explanation{
		height: 10em;
	}
}
